Source: vscodium-archive-keyring
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               lintian,

Package: vscodium-archive-keyring
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Description: VSCodium APT archive keyring
 This package contains the keyrings used to sign
 VSCodium APT repositories.
